@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
        </div>
    </section>
}
@*View dashboard*@
<h3>Danh sách đơn xin nghỉ phép</h3>
@model IEnumerable<ProjectNghiPhep.Models.ViewModels.DashboardViewModel>
<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Mã đơn</th>
                <th>Người tạo</th>
                <th>Ngày nghỉ bắt đầu</th>
                <th>Ngày nghỉ kết thúc</th>
                <th>Ngày phép còn lại</th>
                <th>Lý do</th>
                <th>Trạng thái</th>
                <th>Người duyệt</th>
                <th>Ngày duyệt</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.DocumentId</td>
                    <td>@item.CreateBy</td>
                    <td>@item.StartDate</td>
                    <td>@item.EndDate</td>
                    <td>@item.DayOff</td>
                    <td>@item.Reason</td>
                    <td>@item.Status</td>
                    <td>@item.ApproveOrRejectBy</td>
                    <td>@item.ApproveOrRejectDate</td>
                </tr>
            }
        </tbody>
    </table>
</div>
