@model ProjectNghiPhep.Models.User
@using MVCGrid.Web
@{
    ViewBag.Title = "DonNghiPhep";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page_header">
    <h2>Đơn Nghỉ Phép</h2>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <script>
            function onChangeTab(tabName) {
                $('#waiting').removeClass('active');
                $('#verify').removeClass('active');
                $('#cancel').removeClass('active');
                $('#waitingTab').hide();
                $('#verifyTab').hide();
                $('#cancelTab').hide();
                $(tabName + 'Tab').show();
                $(tabName).addClass('active');
            }
            if (!window.localStorage.getItem('token')) {
                window.localStorage.setItem('title', '@Model.Title.code');
                window.localStorage.setItem('token', '@Model.C_id');
            } else {
                var title = window.localStorage.getItem('title')
                $('#waitingTab').hide()
                //if (title !== 'GIAMDOC') {
                //    setTimeout(function () {
                //        console.log($('.btn-verify'))
                //        $('.btn-verify').hide()
                //        $('.btn-cancel').hide()
                //    }, 5000)
                //}
            }
        </script>
        <ul class="nav nav-tabs">
            <li class="active" id="waiting"><a href="#" onclick="onChangeTab('#waiting')">Đơn chờ duyệt</a></li>
            <li id="verify"><a href="#" onclick="onChangeTab('#verify')">Đơn đã duyệt</a></li>
            <li id="cancel"><a href="#" onclick="onChangeTab('#cancel')">Đơn đã hủy</a></li>
        </ul>
        <div id="waitingTab">
            @Html.MVCGrid("WaitingDocumentGrid")
        </div>
        <div id="verifyTab" style="display: none">
            @Html.MVCGrid("VerifyDocumentGrid")
        </div>
        <div id="cancelTab" style="display: none">
            @Html.MVCGrid("CancelDocumentGrid")
        </div>
    </div>
</div>
