@model ProjectNghiPhep.Models.NHANVIEN
@{
    ViewBag.Title = "Register";
    List<SelectListItem> departments = new List<SelectListItem>();
    //data cho mấy combobox
    departments.Add(new SelectListItem
    {
        Text = "Ban chủ nhiệm",
        Value = "DPM_000001"
    });
    departments.Add(new SelectListItem
    {
        Text = "Đào tạo",
        Value = "DPM_000002"
    });
    List<SelectListItem> contractTypes = new List<SelectListItem>();

    contractTypes.Add(new SelectListItem
    {
        Text = "Có thời hạn",
        Value = "HD_000001"
    });
    contractTypes.Add(new SelectListItem
    {
        Text = "Không thời hạn",
        Value = "HD_000002"
    });
}

<section id="loginForm">
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            <h4>Đăng kí</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.fullName, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.fullName)
                    @Html.ValidationMessageFor(m => m.fullName)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.gender, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.gender)
                    @Html.ValidationMessageFor(m => m.gender)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.address, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.address)
                    @Html.ValidationMessageFor(m => m.address)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.mobile, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.mobile)
                    @Html.ValidationMessageFor(m => m.mobile)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.email, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.email)
                    @Html.ValidationMessageFor(m => m.email)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.username, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.username)
                    @Html.ValidationMessageFor(m => m.username)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.password, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.PasswordFor(m => m.password)
                    @Html.ValidationMessageFor(m => m.password)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.contractId, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.DropDownListFor(m => m.contractId, contractTypes, "Chọn loại hợp đồng", new { @class = "form-control selectbox" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.departmentId, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.DropDownListFor(m => m.departmentId, departments, "Chọn phòng ban", new { @class = "form-control selectbox" })
                </div>
            </div>
            
            
            
            
            <div class="form-group">
                <div class="col-md-offset-3 col-md-9">
                    <input type="submit" value="Submit" />
                </div>
            </div>
        </div>
    }
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}