@model ProjectNghiPhep.Models.NHANVIEN
@{
    ViewBag.Title = "Register";
}

<section id="loginForm">
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <div class="form-horizontal">
            <h4>Đăng kí</h4>
            <hr />
            <div class="form-group">
                @Html.LabelFor(m => m.username, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.username)
                    @Html.ValidationMessageFor(m => m.username)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.password, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.password)
                    @Html.ValidationMessageFor(m => m.password)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.email)
                    @Html.ValidationMessageFor(m => m.email)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.gender, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.gender)
                    @Html.ValidationMessageFor(m => m.gender)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.address, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.address)
                    @Html.ValidationMessageFor(m => m.address)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.mobile, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.mobile)
                    @Html.ValidationMessageFor(m => m.mobile)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Log in" />
                </div>
            </div>
        </div>
    }
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
