@model ProjectNghiPhep.Models.NHANVIEN
@{
    ViewBag.Title = "Register";
}

<section id="loginForm">
    @using (Html.BeginForm("RegisterUser", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <div class="form-horizontal">
            <h4>Đăng ký</h4>
            <hr />
            <div class="form-group">
                @Html.LabelFor(m => m.username, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.username)
                    @Html.ValidationMessageFor(m => m.username)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.fullName, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.fullName)
                    @Html.ValidationMessageFor(m => m.fullName)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.password, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.PasswordFor(m => m.password)
                    @Html.ValidationMessageFor(m => m.password)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.contractId, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.DropDownListFor(model => model.contractId, new SelectList(ViewBag.contracts, "C_id", "name"), htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.contractId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.titleId, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.DropDownListFor(model => model.titleId, new SelectList(ViewBag.titles, "C_id", "name"), htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.titleId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.departmentId, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.DropDownListFor(model => model.departmentId, new SelectList(ViewBag.departments, "C_id", "name"), htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.departmentId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.email, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.email)
                    @Html.ValidationMessageFor(m => m.email)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.gender, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.gender)
                    @Html.ValidationMessageFor(m => m.gender)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.address, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.address)
                    @Html.ValidationMessageFor(m => m.address)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.mobile, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.mobile)
                    @Html.ValidationMessageFor(m => m.mobile)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-3 col-md-9">
                    <input type="submit" value="Đăng ký" />
                </div>
            </div>
        </div>
    }
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}