@{
    ViewBag.Title = "Home Page";
}
<div class="page_header">
    <h2>Dashboard</h2>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="col-md-3">
            <table class="table table-bordered" style="height: 100%">
                <thead>
                    <tr>
                        <th>
                            <h2>
                                Tổng số ngày nghỉ
                            </h2>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="height: 200px; display: flex; justify-content: center; flex-direction: column; align-items: center;">
                            <h1>
                                @Model[0].totalDayOff
                            </h1>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-3">
            <table class="table table-bordered" style="height: 100%">
                <thead>
                    <tr>
                        <th>
                            <h2>
                                Đã sử dụng
                            </h2>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="height: 200px; display: flex; justify-content: center; flex-direction: column; align-items: center;">
                            <h1>
                                @Model[0].usedDayOff
                            </h1>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-3">
            <table class="table table-bordered" style="height: 100%">
                <thead>
                    <tr>
                        <td>
                            <h2>
                                Ngày nghỉ còn lại
                            </h2>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="height: 200px; display: flex; justify-content: center; flex-direction: column; align-items: center;">
                            <h1>
                                @Model[0].DayOff
                            </h1>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-3">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                            <h2>
                                Lịch sử
                            </h2>
                        </th>
                    </tr>
                </thead>
                <tbody style="height: 200px; overflow-y: auto; display: block;">
                    @foreach (var item in Model)
                    {
                        <tr style="max-height: 30px;">
                            <td>Đơn &nbsp; @item.DocumentId &nbsp; @item.Status &nbsp; Vào lúc &nbsp; @item.ApproveOrRejectDate </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>