@{
    ViewBag.Title = "Home Page";
}
<div class="page_header">
    <h2>Dashboard</h2>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Mã đơn</th>
                    <th>Người tạo</th>
                    <th>Ngày nghỉ bắt đầu</th>
                    <th>Ngày nghỉ kết thúc</th>
                    <th>Ngày phép còn lại</th>
                    <th>Lý do</th>
                    <th>Trạng thái</th>
                    <th>Người duyệt</th>
                    <th>Ngày duyệt</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.DocumentId</td>
                        <td>@item.CreateBy</td>
                        <td>@item.StartDate</td>
                        <td>@item.EndDate</td>
                        <td>@item.DayOff</td>
                        <td>@item.Reason</td>
                        <td>@item.Status</td>
                        <td>@item.ApproveOrRejectBy</td>
                        <td>@item.ApproveOrRejectDate</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>